/* body style */

body {
  background-color: #181818;
}

/* menu style */

#menu {
  background-color: #212121;
  min-width: 67px;
  min-height: 1000px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
}

#menu svg {
  fill: #ffffff;
}

#menu span,
a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
}

p {
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
}

/* menu item1 style */

.menulink1 {
  display: inline;
  width: 67px;
  height: 67px;
  position: absolute;
  top: 58px;
  left: 0px;
}

.menulink1:hover {
  background-color: #373737;
  width: 67px;
  height: 67px;
}

.menuitem1 {
  display: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  vertical-align: middle;
  fill: #ffffff;
  cursor: pointer;
  outline-offset: 1px;
}

.menuitemtext1 {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.hover1 {
  position: absolute;
  top: 15px;
  left: 22px;
}

/* menu item2 style */

.menulink2 {
  display: inline;
  width: 67px;
  height: 67px;
  position: absolute;
  top: 125px;
  left: 0px;
}

.menulink2:hover {
  background-color: #373737;
  width: 67px;
  height: 67px;
}

.menuitem2 {
  display: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  vertical-align: middle;
  fill: #ffffff;
  cursor: pointer;
  outline-offset: 1px;
}

.menuitemtext2 {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.hover2 {
  position: absolute;
  top: 15px;
  left: 22px;
}

/* menu item3 style */

.menulink3 {
  display: inline;
  width: 67px;
  height: 67px;
  position: absolute;
  top: 192px;
  left: 0px;
}

.menulink3:hover {
  background-color: #373737;
  width: 67px;
  height: 67px;
}

.menuitem3 {
  display: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  vertical-align: middle;
  fill: #ffffff;
  cursor: pointer;
  outline-offset: 1px;
}

.menuitemtext3 {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.hover3 {
  position: absolute;
  top: 15px;
  left: 22px;
}

/* menu item4 style */

.menulink4 {
  display: inline;
  width: 67px;
  height: 67px;
  position: absolute;
  top: 259px;
  left: 0px;
}

.menulink4:hover {
  background-color: #373737;
  width: 67px;
  height: 67px;
}

.menuitem4 {
  display: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  vertical-align: middle;
  fill: #ffffff;
  cursor: pointer;
  outline-offset: 1px;
}

.menuitemtext4 {
  position: absolute;
  bottom: 10px;
  right: 19px;
}

.hover4 {
  position: absolute;
  top: 15px;
  left: 22px;
}

/* menu icon style */

.menuicon {
  position: absolute;
  top: 15px;
  left: 22px;
}

.menuicon:active {
  box-shadow: 1px 1px 10px 5px #373737;
}

.menuiconspan {
  display: block;
}

/* navmenu style */

#navmenu {
  background-color: #212121fa;
  border-bottom: 1px solid #373737;
  width: 95%;
  height: 50px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 3;
}

#navmenu a {
  display: block;
  width: 0px;
  height: 0px;
}

#navmenu img {
  position: absolute;
  bottom: 13px;
}

/* search bar style */

.searchbox {
  outline: none;
  border: 1px solid #303030;
  background-color: #121212;
  color: #777777;
  text-indent: 10px;
  font-size: 16px;
  width: 590px;
  height: 30px;
  position: absolute;
  left: 265px;
  bottom: 8px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
}

.searchbox::-webkit-input-placeholder {
  font-weight: 400;
}

.searchbutton {
  outline: none;
  border: 1px solid #303030;
  background-color: #313131;
  cursor: pointer;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 855px;
  bottom: 8px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* search bar icon style */

.searchicon {
  display: block;
  fill: #6f6f6f;
  position: absolute;
  top: 16px;
  left: 875px;
}

.searchbuttonclick:hover .searchicon {
  fill: #909090;
  cursor: pointer;
}

/* voice search icon */

.voicesearch {
  display: block;
  fill: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* nav items style */

.youtube_word_icon {
  width: 80px;
  height: 24px;
  margin-top: 13px;
  margin-left: 5px;
}

.navitems {
  display: block;
}

.create,
.grid,
.notifications {
  position: relative;
}

.navlink1,
.navlink2,
.navlink3 {
  display: block;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 100%;
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.navlink1:active,
.navlink2:active,
.navlink3:active {
  box-shadow: 1px 1px 10px 5px #373737;
  border-radius: 100%;
}

/* navitem1 */

.navlink1 {
  left: 1067px;
  bottom: -28px;
}

.navitem1 {
  display: block;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  position: absolute;
  right: -1095px;
  bottom: -25px;
  z-index: 1;
}

.navitem1:active {
  box-shadow: 1px 1px 10px 5px #373737;
}

/* navitem1 focus */

.create ul {
  margin-top: 10px;
  position: absolute;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 176px;
  height: 96px;
  background-color: #212121fa;
  border: 1px solid #373737;
  border-top: none;
  list-style: none;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) translateX(1065px);
  transition: all 0.1s ease;
  padding: 0;
}

.create li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.li1 {
  transform: translateY(-10px);
}

.li1:hover {
  background-color: #373737;
}

.uploadicon {
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
  transform: translateY(23px) translateX(-60px) scale(2.5, 2.5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.li2 {
  transform: translateY(-8px);
}

.li2:hover {
  background-color: #373737;
}

.liveicon {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(53px) translateX(-60px) scale(2.5, 2.5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.create a {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  text-indent: -35px;
  margin-top: -15px;
  padding: 0;
}

/* navitem2 */

.navlink2 {
  left: 1115px;
  bottom: -28px;
}

.navitem2 {
  display: block;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  position: absolute;
  right: -1143px;
  bottom: -25px;
}

.navitem2:active {
  box-shadow: 1px 1px 10px 5px #373737;
}

/* nav item2 focus */

.grid ul {
  margin-top: 10px;
  position: absolute;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 216.08px;
  height: 250px;
  background-color: #212121fa;
  border: 1px solid #373737;
  border-top: none;
  list-style: none;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) translateX(945px);
  transition: all 0.1s ease;
  padding: 0;
}

.grid li {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.li3 {
  transform: translateY(5px) translateY(-5px);
  border-bottom: 1px solid #373737;
}

.li3:hover {
  background-color: #373737;
}

.youtubetv {
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
  transform: translateY(25px) translateX(-80px) scale(5.5, 5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.li4 {
  transform: translateY(0px);
}

.li4:hover {
  background-color: #373737;
}

.youtubemusic {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(30px) translateX(-80px) scale(5.5, 5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.li5 {
  transform: translateY(-5px);
  border-bottom: 1px solid #373737;
}

.li5:hover {
  background-color: #373737;
}

.youtubekids {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(65px) translateX(-80px) scale(5.5, 5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.li6 {
  transform: translateY(-5px);
}

.li6:hover {
  background-color: #373737;
}

.creatoracademy {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(24px) translateX(-50px) scale(5, 4.5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.li7 {
  transform: translateY(-8px);
}

.li7:hover {
  background-color: #373737;
}

.youtubeforartists {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(60px) translateX(-50px) scale(5, 4.5);
  padding: 0;
  margin: 0;
  z-index: 2;
  pointer-events: none;
}

.grid a {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  text-indent: -50px;
  margin-top: -15px;
  padding: 0;
  z-index: 3;
}

/* navitem3 */

.navlink3 {
  left: 1163px;
  bottom: -28px;
}

.navitem3 {
  display: block;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  position: absolute;
  right: -1190px;
  bottom: -25px;
}

.navitem3:active {
  box-shadow: 1px 1px 10px 5px #373737;
}

/* nav item3 focus */

.notifications ul {
  margin-top: 10px;
  position: absolute;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 617px;
  background-color: #212121fa;
  border: 1px solid #373737;
  border-top: none;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transform: translateY(-15px) translateX(675px);
  transition: all 0.1s ease;
  padding: 0;
}

.notificationssetting {
  fill: #909090;
  display: flex;
  width: 24px;
  height: 24px;
  transform: translateX(210px) translateY(-225px);
  padding: 0;
  margin: 0;
  z-index: 2;
}

.notificationsbell {
  fill: #606060;
  display: flex;
  width: 120px;
  height: 120px;
  transform: translateY(-100px);
  padding: 0;
  margin: 0;
  z-index: 2;
}

.notificationsp1 {
  color: #ffffff !important;
  font-weight: 900 !important;
  font-size: 16px !important;
  text-indent: 15px;
  width: 480px;
  transform: translateY(-27px);
}

hr {
  width: 480px;
  height: 5px;
  border: none;
  border-bottom: 1px solid #373737;
  transform: translateY(-77px);
}

.click1 {
  width: 30px;
  height: 30px;
  background: none;
  transform: translateX(210px) translateY(-162px);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.notificationsp2 {
  color: #aaaaaa !important;
  font-weight: 900 !important;
  font-size: 16px !important;
  transform: translateY(-130px);
}

.notificationsp3 {
  color: #aaaaaa !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  transform: translateY(-185px);
}

.notificationsextratext1 {
  color: #aaaaaa !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  display: flex;
  transform: translateX(25px) translateY(5px);
}

/* profile photo style */

.navprofilephoto {
  border-radius: 100%;
  max-width: 32px;
  position: absolute;
  top: 10px;
  right: 30px;
}

.profilephoto:active {
  border: 1px solid #0084ff;
}

/* focus area style */

.create .navlink1:focus + ul {
  transform: translateY(20px) translateX(1065px);
  opacity: 1;
  display: flex;
  pointer-events: all;
}

.grid .navlink2:focus + ul {
  transform: translateY(20px) translateX(965px);
  opacity: 1;
  display: flex;
  pointer-events: all;
}

.notifications .navlink3:focus + ul {
  transform: translateY(-15px) translateX(675px);
  opacity: 1;
  display: flex;
  pointer-events: all;
}

/* video1 style */

#videothumbnail1:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 80px;
  margin-top: 68px;
}

#videothumbnail1 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 90px;
  top: 70px;
}

/* video1 icons style */

.videolink1:hover .watchlater1 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 75px;
  left: 355px;
}

.videolink1:hover .addto1 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 105px;
  left: 355px;
}

.videolink1:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink1:hover .threedots1 {
  fill: #909090;
  position: absolute;
  top: 250px;
  left: 360px;
}

.videolink1:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33.66px;
  height: 18px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 340px;
  bottom: 393px;
}

.youtuberlogo1 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon1 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 210px;
  top: 270px;
  cursor: pointer;
}

.videolink1 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater1 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 75px;
  left: 355px;
}

.addto1 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 105px;
  left: 355px;
}

.threedots1 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 250px;
  left: 360px;
}

.threedots1:hover {
  fill: #ffffff !important;
}

.videotextsection1,
.videotextsection2,
.videotextsection3,
.videotextsection4 {
  cursor: pointer;
}

/* video1 text section style */

.videotextsection1 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 136px;
  bottom: 333px;
}

.videotextsection1 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 136px;
  bottom: 327px;
}

/* video2 style */

#videothumbnail2:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 390px;
  margin-top: 68px;
}

#videothumbnail2 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 400px;
  top: 70px;
}

/* video2 icons style */

.videolink2:hover .watchlater2 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 75px;
  left: 665px;
}

.videolink2:hover .addto2 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 105px;
  left: 665px;
}

.videolink2:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}

.videolink2:hover .threedots2 {
  fill: #909090;
  position: absolute;
  top: 250px;
  left: 670px;
}

.videolink2:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime2 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33.66px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 650px;
  bottom: 393px;
}

.youtuberlogo2 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon2 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 540px;
  top: 283.3px;
  cursor: pointer;
}

.videolink2 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
}

.watchlater2 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 75px;
  left: 655px;
}

.addto2 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 105px;
  left: 655px;
}

.threedots2 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 250px;
  left: 670px;
}

.threedots2:hover {
  fill: #ffffff !important;
}

/* video2 text section style */

.videotextsection2 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 445px;
  bottom: 317px;
}

.videotextsection2 h6:first-line {
  text-indent: -90px;
}

.videotextsection2 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 445px;
  bottom: 315px;
}

/* video3 style */

#videothumbnail3:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: 68px;
}

#videothumbnail3 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 710px;
  top: 70px;
}

/* video3 icons style */

.videolink3:hover .watchlater3 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 75px;
  left: 975px;
}

.videolink3:hover .addto3 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 105px;
  left: 975px;
}
.videolink3:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}

.videolink3:hover .threedots3 {
  fill: #909090;
  position: absolute;
  top: 250px;
  left: 985px;
}

.videolink3:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime3 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33.66px;
  height: 18px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 960px;
  bottom: 393px;
}

.youtuberlogo3 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon3 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 823px;
  top: 273px;
  cursor: pointer;
}

.videolink3 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
}

.watchlater3 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 75px;
  left: 975px;
}

.addto3 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 105px;
  left: 975px;
}

.threedots3 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 250px;
  left: 980px;
}

.threedots3:hover {
  fill: #ffffff !important;
}

/* video3 text section style */

.videotextsection3 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 755px;
  bottom: 330px;
}

.videotextsection3 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 755px;
  bottom: 325px;
}

/* video4 style */

#videothumbnail4:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 1010px;
  margin-top: 68px;
}

#videothumbnail4 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 1020px;
  top: 70px;
}

/* video4 icons style */

.videolink4:hover .watchlater4 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 75px;
  left: 1285px;
}

.videolink4:hover .addto4 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 105px;
  left: 1285px;
}
.videolink4:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}

.videolink4:hover .threedots4 {
  fill: #909090;
  position: absolute;
  top: 250px;
  left: 1290px;
}

.videolink4:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime4 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 36px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 1270px;
  bottom: 393px;
}

.youtuberlogo4 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon4 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 1130px;
  top: 280px;
  cursor: pointer;
}

.videolink4 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
}

.watchlater4 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 75px;
  left: 1285px;
}

.addto4 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 105px;
  left: 1285px;
}

.threedots4 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 250px;
  left: 1290px;
}

.threedots4:hover {
  fill: #ffffff !important;
}

/* video4 text section style */

.videotextsection4 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1070px;
  bottom: 330px;
}

.videotextsection4 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1070px;
  bottom: 317px;
}

.extratext4 {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 31px;
  top: 15px;
}

/* video5 style */

#videothumbnail5:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 80px;
  margin-top: 338px;
}

#videothumbnail5 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 90px;
  top: 340px;
}

/* video5 icons style */

.videolink5:hover .watchlater5 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 345px;
  left: 355px;
}

.videolink5:hover .addto5 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 375px;
  left: 355px;
}

.videolink5:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink5:hover .threedots5 {
  fill: #909090;
  position: absolute;
  top: 520px;
  left: 360px;
}

.videolink5:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime5 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33.66px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 340px;
  bottom: 125px;
}

.youtuberlogo5 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.artisticon5 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 165px;
  top: 557px;
}

.videolink5 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater5 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 345px;
  left: 355px;
}

.addto5 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 375px;
  left: 355px;
}

.threedots5 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 520px;
  left: 360px;
}

.threedots5:hover {
  fill: #ffffff !important;
}

/* video5 text section style */

.videotextsection5 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  bottom: 45px;
}

.videotextsection5 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  bottom: 41px;
}

/* video6 style */

#videothumbnail6:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 390px;
  margin-top: 338px;
}

#videothumbnail6 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 400px;
  top: 340px;
}

/* video6 icons style */

.videolink6:hover .watchlater6 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 345px;
  left: 665px;
}

.videolink6:hover .addto6 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 375px;
  left: 665px;
}

.videolink6:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink6:hover .threedots6 {
  fill: #909090;
  position: absolute;
  top: 520px;
  left: 670px;
}

.videolink6:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime6 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 655px;
  bottom: 125px;
}

.youtuberlogo6 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon6 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 500px;
  top: 542px;
}

.videolink6 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater6 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 655px;
}

.addto6 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 675px;
  left: 655px;
}

.threedots6 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 520px;
  left: 670px;
}

.threedots6:hover {
  fill: #ffffff !important;
}

/* video6 text section style */

.videotextsection6 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 440px;
  bottom: 60px;
}

.videotextsection6 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 440px;
  bottom: 55px;
}

/* video7 style */

#videothumbnail7:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: 338px;
}

#videothumbnail7 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 710px;
  top: 340px;
}

/* video7 icons style */

.videolink7:hover .watchlater7 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 345px;
  left: 975px;
}

.videolink7:hover .addto7 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 375px;
  left: 975px;
}

.videolink7:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink7:hover .threedots7 {
  fill: #909090;
  position: absolute;
  top: 520px;
  left: 985px;
}

.videolink7:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime7 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 965px;
  bottom: 125px;
}

.youtuberlogo7 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon7 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 820px;
  top: 553px;
}

.videolink7 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater7 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 975px;
}

.addto7 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 675px;
  left: 975px;
}

.threedots7 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 520px;
  left: 985px;
}

.threedots7:hover {
  fill: #ffffff !important;
}

/* video7 text section style */

.videotextsection7 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 750px;
  bottom: 62px;
}

.videotextsection7 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 750px;
  bottom: 45px;
}

.extratext7 {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 140px;
  top: 16px;
}

/* video8 style */

#videothumbnail8:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 1010px;
  margin-top: 338px;
}

#videothumbnail8 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 1020px;
  top: 340px;
}

/* video8 icons style */

.videolink8:hover .watchlater8 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 345px;
  left: 1285px;
}

.videolink8:hover .addto8 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 375px;
  left: 1285px;
}

.videolink8:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink8:hover .threedots8 {
  fill: #909090;
  position: absolute;
  top: 520px;
  left: 1290px;
}

.videolink8:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime8 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 1275px;
  bottom: 125px;
}

.youtuberlogo8 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.artisticon8 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 1135px;
  top: 552px;
}

.videolink8 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater8 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 1285px;
}

.addto8 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 675px;
  left: 1285px;
}

.threedots8 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 520px;
  left: 1290px;
}

.threedots8:hover {
  fill: #ffffff !important;
}

/* video8 text section style */

.videotextsection8 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1060px;
  bottom: 63px;
}

.videotextsection8 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1059px;
  bottom: 45px;
}

.extratext8 {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 120px;
}

/* video9 style */

#videothumbnail9:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 80px;
  margin-top: 608px;
}

#videothumbnail9 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 90px;
  top: 610px;
}

/* video9 icons style */

.videolink9:hover .watchlater9 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 615px;
  left: 355px;
}

.videolink9:hover .addto9 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 645px;
  left: 355px;
}

.videolink9:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink9:hover .threedots9 {
  fill: #909090;
  position: absolute;
  top: 785px;
  left: 360px;
}

.videolink9:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime9 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33.66px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 340px;
  top: 755px;
}

.youtuberlogo9 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.artisticon9 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 230px;
  top: 827px;
}

.videolink9 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater9 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 355px;
}

.addto9 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 355px;
}

.threedots9 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 785px;
  left: 360px;
}

.threedots9:hover {
  fill: #ffffff !important;
}

/* video9 text section style */

.videotextsection9 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  top: 750px;
}

.videotextsection9 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  top: 810px;
}

.extratext9 {
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  right: 85px;
}

/* video10 style */

#videothumbnail10:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 390px;
  margin-top: 608px;
}

#videothumbnail10 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 400px;
  top: 610px;
}

/* video10 icons style */

.videolink10:hover .watchlater10 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 615px;
  left: 665px;
}

.videolink10:hover .addto10 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 645px;
  left: 665px;
}

.videolink10:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink10:hover .threedots10 {
  fill: #909090;
  position: absolute;
  top: 785px;
  left: 670px;
}

.videolink10:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime10 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 650px;
  top: 755px;
}

.youtuberlogo10 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon10 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 510px;
  top: 806px;
}

.videolink10 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater10 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto10 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots10 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 785px;
  left: 670px;
}

.threedots10:hover {
  fill: #ffffff !important;
}

/* video10 text section style */

.videotextsection10 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 445px;
  top: 750px;
}

.videotextsection10 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 445px;
  top: 790px;
}

/* video11 style */

#videothumbnail11:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: 608px;
}

#videothumbnail11 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 710px;
  top: 610px;
}

/* video11 icons style */

.videolink11:hover .watchlater11 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 615px;
  left: 975px;
}

.videolink11:hover .addto11 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 645px;
  left: 975px;
}

.videolink11:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink11:hover .threedots11 {
  fill: #909090;
  position: absolute;
  top: 785px;
  left: 980px;
}

.videolink11:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime11 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 32px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 965px;
  top: 755px;
}

.youtuberlogo11 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.artisticon11 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 785px;
  top: 826px;
}

.videolink11 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater11 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto11 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots11 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 785px;
  left: 980px;
}

.threedots11:hover {
  fill: #ffffff !important;
}

/* video11 text section style */

.videotextsection11 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 755px;
  top: 750px;
}

.videotextsection11 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 755px;
  top: 810px;
}

.extratext11 {
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  left: 0px;
  top: 16px;
}

/* video12 style */

#videothumbnail12:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 1010px;
  margin-top: 608px;
}

#videothumbnail12 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 1020px;
  top: 610px;
}

/* video12 icons style */

.videolink12:hover .watchlater12 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 615px;
  left: 1285px;
}

.videolink12:hover .addto12 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 645px;
  left: 1285px;
}

.videolink12:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink12:hover .threedots12 {
  fill: #909090;
  position: absolute;
  top: 785px;
  left: 1290px;
}

.videolink12:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime12 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 32px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 1275px;
  top: 755px;
}

.youtuberlogo12 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon12 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 1140px;
  top: 821px;
}

.videolink12 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater12 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto12 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots12 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 785px;
  left: 1290px;
}

.threedots12:hover {
  fill: #ffffff !important;
}

/* video12 text section style */

.videotextsection12 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1065px;
  top: 750px;
}

.videotextsection12 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1065px;
  top: 805px;
}

.extratext12 {
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  left: 0px;
  top: 16px;
}

/* video13 style */

#videothumbnail13:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 80px;
  margin-top: 878px;
}

#videothumbnail13 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 90px;
  top: 880px;
}

/* video13 icons style */

.videolink13:hover .watchlater13 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 885px;
  left: 355px;
}

.videolink13:hover .addto13 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 915px;
  left: 355px;
}

.videolink13:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink13:hover .threedots13 {
  fill: #909090;
  position: absolute;
  top: 1055px;
  left: 360px;
}

.videolink13:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime13 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 37px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 340px;
  top: 1025px;
}

.youtuberlogo13 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon13 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 170px;
  top: 1077px;
}

.videolink13 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater13 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto13 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots13 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 1055px;
  left: 360px;
}

.threedots13:hover {
  fill: #ffffff !important;
}

/* video13 text section style */

.videotextsection13 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  top: 1020px;
}

.videotextsection13 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  top: 1060px;
}

/* video14 style */

#videothumbnail14:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 390px;
  margin-top: 878px;
}

#videothumbnail14 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 400px;
  top: 880px;
}

/* video14 icons style */

.videolink14:hover .watchlater14 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 885px;
  left: 665px;
}

.videolink14:hover .addto14 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 915px;
  left: 665px;
}

.videolink14:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink14:hover .threedots14 {
  fill: #909090;
  position: absolute;
  top: 1055px;
  left: 670px;
}

.videolink14:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime14 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 37px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 650px;
  top: 1025px;
}

.youtuberlogo14 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.artisticon14 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 525px;
  top: 1077px;
}

.videolink14 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater14 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto14 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots14 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 1055px;
  left: 670px;
}

.threedots14:hover {
  fill: #ffffff !important;
}

/* video14 text section style */

.videotextsection14 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 445px;
  top: 1020px;
}

.videotextsection14 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 445px;
  top: 1060px;
}

/* video15 style */

#videothumbnail15:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: 878px;
}

#videothumbnail15 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 710px;
  top: 880px;
}

/* video15 icons style */

.videolink15:hover .watchlater15 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 885px;
  left: 975px;
}

.videolink15:hover .addto15 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 915px;
  left: 975px;
}

.videolink15:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}
.videolink15:hover .threedots15 {
  fill: #909090;
  position: absolute;
  top: 1055px;
  left: 980px;
}

.videolink15:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime15 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 960px;
  top: 1025px;
}

.youtuberlogo15 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon15 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 830px;
  top: 1091px;
}

.videolink15 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater15 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto15 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots15 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 1055px;
  left: 980px;
}

.threedots15:hover {
  fill: #ffffff !important;
}

/* video15 text section style */

.videotextsection15 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 755px;
  top: 1020px;
}

.videotextsection15 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 755px;
  top: 1075px;
}

.extratext15 {
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  left: 0px;
  top: 16px;
}

/* video16 style */

#videothumbnail16:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 1010px;
  margin-top: 878px;
}

#videothumbnail16 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 1020px;
  top: 880px;
}

/* video16 icons style */

.videolink16:hover .watchlater16 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 885px;
  left: 1285px;
}

.videolink16:hover .addto16 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 915px;
  left: 1285px;
}

.videolink16:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}

.videolink16:hover .threedots16 {
  fill: #909090;
  position: absolute;
  top: 1055px;
  left: 1290px;
}

.videolink16:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime16 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  left: 1270px;
  top: 1025px;
}

.youtuberlogo16 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.verifiedicon16 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 1160px;
  top: 1092px;
}

.videolink16 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater16 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 615px;
  left: 665px;
}

.addto16 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 645px;
  left: 665px;
}

.threedots16 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 1055px;
  left: 1290px;
}

.threedots16:hover {
  fill: #ffffff !important;
}

/* video16 text section style */

.videotextsection16 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1065px;
  top: 1020px;
}

.videotextsection16 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 1065px;
  top: 1075px;
}

.extratext16 {
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  left: 0px;
  top: 16px;
}

/* video17 style */

#videothumbnail17:active {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 297px;
  height: 169px;
  overflow: hidden;
  margin-left: 80px;
  margin-top: 1128px;
}

#videothumbnail17 img {
  width: 295.23px;
  height: 166.06px;
  display: block;
  position: absolute;
  left: 90px;
  top: 1130px;
}

/* video17 icons style */

.videolink17:hover .watchlater17 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 1135px;
  left: 355px;
}

.videolink17:hover .addto17 {
  visibility: visible;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 1165px;
  left: 355px;
}

.videolink17:hover span {
  animation-name: disaper1;
  animation-duration: 900ms;
}

.videolink17:hover .threedots17 {
  fill: #909090;
  position: absolute;
  top: 1305px;
  left: 360px;
}

.videolink17:hover {
  animation-name: disaper2;
  animation-duration: 900ms;
}

.videotime17 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 33px;
  height: 15px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  position: absolute;
  top: 1275px;
  left: 345px;
}

.youtuberlogo17 {
  border-radius: 100%;
  max-width: 36px;
  max-height: 36px;
  margin-top: 170px;
}

.artisticon17 {
  max-width: 13px;
  max-height: 13px;
  position: absolute;
  left: 160px;
  top: 1342px;
}

.videolink17 {
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  display: block;
}

.watchlater17 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 1135px;
  left: 355px;
}

.addto17 {
  visibility: visible;
  fill: none;
  position: absolute;
  top: 1165px;
  left: 355px;
}

.threedots17 {
  visibility: none;
  fill: #181818;
  position: absolute;
  top: 1305px;
  left: 360px;
}

.threedots17:hover {
  fill: #ffffff !important;
}

/* video17 text section style */

.videotextsection17 h6 {
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  top: 1270px;
}

.videotextsection17 p {
  color: rgba(225, 225, 225, 0.7);
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  left: 135px;
  top: 1325px;
}

.extratext17 {
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  left: 0px;
  top: 16px;
}

/* footer section style */

.copyrights {
  position: absolute;
  right: 10px;
  bottom: -800px;
  color: #ffffff;
  white-space: nowrap;
  text-transform: capitalize;
}

b {
  font-size: 30px;
}

/* keyframes */

@keyframes disaper1 {
  from {
    background-color: rgba(0, 0, 0, 0.7);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes disaper2 {
  from {
    color: #ffffff;
  }
  to {
    color: rgba(225, 225, 255, 0);
  }
}

@keyframes slide1 {
  from {
    margin-right: 0px;
    position: absolute;
    top: 615px;
    left: 355px;
  }
  to {
    margin-right: 20px;
    position: absolute;
    top: 615px;
    left: 355px;
  }
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}
